extends layout 

block content 
    h1 Recipe Book 
    each recipe in recipes
        label Name: 
        a(href="/recipes/"+recipe._id) #{recipe.name}
        p Description: #{recipe.description}
        p Difficulty: #{recipe.difficulty}
        
        h2 Ingredients
        ul 
            each ingredient in recipe.ingredients
                li #{ingredient}

        h2 Steps
        ol
            each step in recipe.steps
                li #{step}
        br
        br