extends layout 

block content 
    h1=recipe.name
    p Description: #{recipe.description}
    p Difficulty: #{recipe.difficulty}
    p Ingredients: #{recipe.ingredients}
    p Steps: #{recipe.steps}
    br
    br